.gradient-title {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #2563eb var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(37, 99, 235, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #60a5fa var(--tw-gradient-to-position);
  background-clip: text;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: transparent;
}

.gradient-title-white {
  background: linear-gradient(
    360deg,
    rgba(65, 62, 62, 0.932267) -51.3%,
    rgba(221, 220, 220, 0.987885) 29.22%,
    #ffffff 108.44%
  );
  background-clip: text;
  padding-bottom: 10px;
  padding-right: 0.5rem;
  font-weight: 700;
  color: transparent;
}

.dark .react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
